
  <!-- <h1 *ngFor="let t of tasks">
    <h2>{{t.title}}</h2>
    <p>{{t.content}}</p>
  </h1>

  <p *ngIf="tasks.length <= 0">No posts added yet!</p> -->

<div>
  <table >
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Department</th>
    </tr>
    <tr *ngFor="let t of tasks">
      <td>{{t.eId}}</td>
      <td>{{t.eName}}</td>
      <td>{{t.eSalary}}</td>
      <td>{{t.eDepartment}}</td>
<td><button>Update</button></td>
<td><button>Delete</button></td>
    </tr>
  </table>
  <p *ngIf="tasks.length <= 0">No posts added yet!</p> -->
</div>
<style>
table, th, td {
    border: 1px solid black;

  }

div {

}

</style>
